<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (medico(); as medicoRef) {
      <div>
        <h2 data-cy="medicoDetailsHeading"><span jhiTranslate="appagendaMedicaApp.medico.detail.title">Medico</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ medicoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="appagendaMedicaApp.medico.nombre">Nombre</span></dt>
          <dd>
            <span>{{ medicoRef.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="appagendaMedicaApp.medico.especialidad">Especialidad</span></dt>
          <dd>
            <span>{{ medicoRef.especialidad }}</span>
          </dd>
          <dt><span jhiTranslate="appagendaMedicaApp.medico.telefono">Telefono</span></dt>
          <dd>
            <span>{{ medicoRef.telefono }}</span>
          </dd>
          <dt><span jhiTranslate="appagendaMedicaApp.medico.email">Email</span></dt>
          <dd>
            <span>{{ medicoRef.email }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/medico', medicoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
